/*Torres Digital ICECoder IDE WP Plugin*/

#wp-admin-bar-icecoder-ide {
    background: linear-gradient(270deg, #5f0eae, #f200c8, #17f200, #00f2e9, #f2d700, #2600f2) !important;
    background-size: auto;
    background-size: 1200% 1200% !important;
    -webkit-animation: AnimationName 30s ease infinite !important;
    -moz-animation: AnimationName 30s ease infinite !important;
    -o-animation: AnimationName 30s ease infinite !important;
    animation: AnimationName 30s ease infinite !important;
}

@-webkit-keyframes AnimationName {
    0%{background-position:0% 33%}
    50%{background-position:100% 68%}
    100%{background-position:0% 33%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 33%}
    50%{background-position:100% 68%}
    100%{background-position:0% 33%}
}
@-o-keyframes AnimationName {
    0%{background-position:0% 33%}
    50%{background-position:100% 68%}
    100%{background-position:0% 33%}
}
@keyframes AnimationName {
    0%{background-position:0% 33%}
    50%{background-position:100% 68%}
    100%{background-position:0% 33%}
}

html i, html cite, html em, html var, html dfn { font-style: initial;}

#wp-admin-bar-icecoder-ide fa {font-family: "Font Awesome"}
.fa.fa-snowflake-o:before {font-family: 'FontAwesome';content: "\f2dc";}
.fa.fa-facebook-square:before {

    font-family: 'FontAwesome';
    content: "\f082";
    color: #fff;
    bottom: 0;
    position: relative;
    left: 6px;
	font-style: initial;
    font-size:15px,

}

.informacoes p:hover {

    -webkit-box-shadow: 0px 0px 6px 0px rgba(138, 138, 138, 0.55);
    -moz-box-shadow: 0px 0px 6px 0px rgba(138, 138, 138, 0.55);
    box-shadow: 0px 0px 6px 0px rgba(138, 138, 138, 0.55);
    animation: shadow-pulse 1s infinite;
    cursor: pointer;
    box-shadow: 0 0 0 rgba(204,169,44, 0.4);
}



/*==================================================
=            Bootstrap 3 Media Queries             =
==================================================*/




	/*==========  Mobile First Method  ==========*/

	/* Custom, iPhone Retina */
	@media only screen and (min-width : 320px) {

	}

	/* Extra Small Devices, Phones */
	@media only screen and (min-width : 480px) {

	}

	/* Small Devices, Tablets */
	@media only screen and (min-width : 768px) {

	}

	/* Medium Devices, Desktops */
	@media only screen and (min-width : 992px) {

	}

	/* Large Devices, Wide Screens */
	@media only screen and (min-width : 1200px) {

	}



	/*==========  Non-Mobile First Method  ==========*/

	/* Large Devices, Wide Screens */
	@media only screen and (max-width : 1200px) {

	}

	/* Medium Devices, Desktops */
	@media only screen and (max-width : 992px) {

	}

	/* Small Devices, Tablets */
	@media only screen and (max-width : 768px) {

	}

	/* Extra Small Devices, Phones */
	@media only screen and (max-width : 480px) {

	}

	/* Custom, iPhone Retina */
	@media only screen and (max-width : 320px) {

	}



    /*=====================================================
    =            Bootstrap 2.3.2 Media Queries            =
    =====================================================*/
    @media only screen and (max-width : 1200px) {

    }

    @media only screen and (max-width : 979px) {

    }

    @media only screen and (max-width : 767px) {

    }

    @media only screen and (max-width : 480px) {

                #informacoes {max-width: 100%;padding: 15px;}


    }

    @media only screen and (max-width : 320px) {

        #informacoes {max-width: 100%;padding: 15px;}
        .informacoes p {color: blue;font-size: 16px;margin: 17px auto;text-align: center;}

    }

    /*
      Based on:
      1. http://stephen.io/mediaqueries
      2. https://css-tricks.com/snippets/css/media-queries-for-standard-devices/
    */

    /* iPhone 6 in portrait & landscape */
    @media only screen
    and (min-device-width : 375px)
    and (max-device-width : 667px) {

    }

    /* iPhone 6 in landscape */
    @media only screen
    and (min-device-width : 375px)
    and (max-device-width : 667px)
    and (orientation : landscape) {

    }

    /* iPhone 6 in portrait */
    @media only screen
    and (min-device-width : 375px)
    and (max-device-width : 667px)
    and (orientation : portrait) {

    }

    /* iPhone 6 Plus in portrait & landscape */
    @media only screen
    and (min-device-width : 414px)
    and (max-device-width : 736px) {

    }

    /* iPhone 6 Plus in landscape */
    @media only screen
    and (min-device-width : 414px)
    and (max-device-width : 736px)
    and (orientation : landscape) {

    }

    /* iPhone 6 Plus in portrait */
    @media only screen
    and (min-device-width : 414px)
    and (max-device-width : 736px)
    and (orientation : portrait) {

    }

    /* iPhone 5 & 5S in portrait & landscape */
    @media only screen
    and (min-device-width : 320px)
    and (max-device-width : 568px) {

    }

    /* iPhone 5 & 5S in landscape */
    @media only screen
    and (min-device-width : 320px)
    and (max-device-width : 568px)
    and (orientation : landscape) {

    }

    /* iPhone 5 & 5S in portrait */
    @media only screen
    and (min-device-width : 320px)
    and (max-device-width : 568px)
    and (orientation : portrait) {

    }

    /*
      iPhone 2G, 3G, 4, 4S Media Queries
      It's noteworthy that these media queries are also the same for iPod Touch generations 1-4.
    */

    /* iPhone 2G-4S in portrait & landscape */
    @media only screen
    and (min-device-width : 320px)
    and (max-device-width : 480px) {

    }

    /* iPhone 2G-4S in landscape */
    @media only screen
    and (min-device-width : 320px)
    and (max-device-width : 480px)
    and (orientation : landscape) {

    }

    /* iPhone 2G-4S in portrait */
    @media only screen
    and (min-device-width : 320px)
    and (max-device-width : 480px)
    and (orientation : portrait) {

    }

    /* iPad in portrait & landscape */
    @media only screen
    and (min-device-width : 768px)
    and (max-device-width : 1024px)  {

    }

    /* iPad in landscape */
    @media only screen
    and (min-device-width : 768px)
    and (max-device-width : 1024px)
    and (orientation : landscape) {

    }

    /* iPad in portrait */
    @media only screen
    and (min-device-width : 768px)
    and (max-device-width : 1024px)
    and (orientation : portrait) {

    }

    /* Galaxy S3 portrait and landscape */
    @media screen
      and (device-width: 320px)
      and (device-height: 640px)
      and (-webkit-device-pixel-ratio: 2) {

    }

    /* Galaxy S3 portrait */
    @media screen
      and (device-width: 320px)
      and (device-height: 640px)
      and (-webkit-device-pixel-ratio: 2)
      and (orientation: portrait) {

    }

    /* Galaxy S3 landscape */
    @media screen
      and (device-width: 320px)
      and (device-height: 640px)
      and (-webkit-device-pixel-ratio: 2)
      and (orientation: landscape) {

    }

    /* Galaxy S4 portrait and landscape */
    @media screen
      and (device-width: 320px)
      and (device-height: 640px)
      and (-webkit-device-pixel-ratio: 3) {

    }

    /* Galaxy S4 portrait */
    @media screen
      and (device-width: 320px)
      and (device-height: 640px)
      and (-webkit-device-pixel-ratio: 3)
      and (orientation: portrait) {

    }

    /* Galaxy S4 landscape */
    @media screen
      and (device-width: 320px)
      and (device-height: 640px)
      and (-webkit-device-pixel-ratio: 3)
      and (orientation: landscape) {

    }

    /* Galaxy S5 portrait and landscape */
    @media screen
      and (device-width: 360px)
      and (device-height: 640px)
      and (-webkit-device-pixel-ratio: 3) {

    }

    /* Galaxy S5 portrait */
    @media screen
      and (device-width: 360px)
      and (device-height: 640px)
      and (-webkit-device-pixel-ratio: 3)
      and (orientation: portrait) {

    }

    /* Galaxy S5 landscape */
    @media screen
      and (device-width: 360px)
      and (device-height: 640px)
      and (-webkit-device-pixel-ratio: 3)
      and (orientation: landscape) {

    }

    /* HTC One portrait and landscape */
    @media screen
      and (device-width: 360px)
      and (device-height: 640px)
      and (-webkit-device-pixel-ratio: 3) {

    }

    /* HTC One portrait */
    @media screen
      and (device-width: 360px)
      and (device-height: 640px)
      and (-webkit-device-pixel-ratio: 3)
      and (orientation: portrait) {

    }

    /* HTC One landscape */
    @media screen
      and (device-width: 360px)
      and (device-height: 640px)
      and (-webkit-device-pixel-ratio: 3)
      and (orientation: landscape) {

    }

    /*
      iPad 3 & 4 Media Queries
      If you're looking to target only 3rd and 4th generation Retina iPads
      (or tablets with similar resolution) to add @2x graphics,
      or other features for the tablet's Retina display, use the following media queries.
    */

    /* Retina iPad in portrait & landscape */
    @media only screen
    and (min-device-width : 768px)
    and (max-device-width : 1024px)
    and (-webkit-min-device-pixel-ratio: 2) {

    }

    /* Retina iPad in landscape */
    @media only screen
    and (min-device-width : 768px)
    and (max-device-width : 1024px)
    and (orientation : landscape)
    and (-webkit-min-device-pixel-ratio: 2) {

    }

    /* Retina iPad in portrait */
    @media only screen
    and (min-device-width : 768px)
    and (max-device-width : 1024px)
    and (orientation : portrait)
    and (-webkit-min-device-pixel-ratio: 2) {

    }

    /*
      iPad 1 & 2 Media Queries
      If you're looking to supply different graphics or choose different typography
      for the lower resolution iPad display, the media queries below will work
      like a charm in your responsive design!
    */

    /* iPad 1 & 2 in portrait & landscape */
    @media only screen
    and (min-device-width : 768px)
    and (max-device-width : 1024px)
    and (-webkit-min-device-pixel-ratio: 1) {

    }

    /* iPad 1 & 2 in landscape */
    @media only screen
    and (min-device-width : 768px)
    and (max-device-width : 1024px)
    and (orientation : landscape)
    and (-webkit-min-device-pixel-ratio: 1) {

    }

    /* iPad 1 & 2 in portrait */
    @media only screen
    and (min-device-width : 768px)
    and (max-device-width : 1024px)
    and (orientation : portrait)
    and (-webkit-min-device-pixel-ratio: 1) {

    }

    /* iPad mini in portrait & landscape */
    @media only screen
    and (min-device-width : 768px)
    and (max-device-width : 1024px)
    and (-webkit-min-device-pixel-ratio: 1) {

    }

    /* iPad mini in landscape */
    @media only screen
    and (min-device-width : 768px)
    and (max-device-width : 1024px)
    and (orientation : landscape)
    and (-webkit-min-device-pixel-ratio: 1) {

    }

    /* iPad mini in portrait */
    @media only screen
    and (min-device-width : 768px)
    and (max-device-width : 1024px)
    and (orientation : portrait)
    and (-webkit-min-device-pixel-ratio: 1) {

    }

    /* Galaxy Tab 10.1 portrait and landscape */
    @media
      (min-device-width: 800px)
      and (max-device-width: 1280px) {

    }

    /* Galaxy Tab 10.1 portrait */
    @media
      (max-device-width: 800px)
      and (orientation: portrait) {

    }

    /* Galaxy Tab 10.1 landscape */
    @media
      (max-device-width: 1280px)
      and (orientation: landscape) {

    }

    /* Asus Nexus 7 portrait and landscape */
    @media screen
      and (device-width: 601px)
      and (device-height: 906px)
      and (-webkit-min-device-pixel-ratio: 1.331)
      and (-webkit-max-device-pixel-ratio: 1.332) {

    }

    /* Asus Nexus 7 portrait */
    @media screen
      and (device-width: 601px)
      and (device-height: 906px)
      and (-webkit-min-device-pixel-ratio: 1.331)
      and (-webkit-max-device-pixel-ratio: 1.332)
      and (orientation: portrait) {

    }

    /* Asus Nexus 7 landscape */
    @media screen
      and (device-width: 601px)
      and (device-height: 906px)
      and (-webkit-min-device-pixel-ratio: 1.331)
      and (-webkit-max-device-pixel-ratio: 1.332)
      and (orientation: landscape) {

    }

    /* Kindle Fire HD 7" portrait and landscape */
    @media only screen
      and (min-device-width: 800px)
      and (max-device-width: 1280px)
      and (-webkit-min-device-pixel-ratio: 1.5) {

    }

    /* Kindle Fire HD 7" portrait */
    @media only screen
      and (min-device-width: 800px)
      and (max-device-width: 1280px)
      and (-webkit-min-device-pixel-ratio: 1.5)
      and (orientation: portrait) {

    }

    /* Kindle Fire HD 7" landscape */
    @media only screen
      and (min-device-width: 800px)
      and (max-device-width: 1280px)
      and (-webkit-min-device-pixel-ratio: 1.5)
      and (orientation: landscape) {

    }

    /* Kindle Fire HD 8.9" portrait and landscape */
    @media only screen
      and (min-device-width: 1200px)
      and (max-device-width: 1600px)
      and (-webkit-min-device-pixel-ratio: 1.5) {

    }

    /* Kindle Fire HD 8.9" portrait */
    @media only screen
      and (min-device-width: 1200px)
      and (max-device-width: 1600px)
      and (-webkit-min-device-pixel-ratio: 1.5)
      and (orientation: portrait) {

    }

    /* Kindle Fire HD 8.9" landscape */
    @media only screen
      and (min-device-width: 1200px)
      and (max-device-width: 1600px)
      and (-webkit-min-device-pixel-ratio: 1.5)
      and (orientation: landscape) {

    }

    /* Laptops non-retina screens */
    @media screen
      and (min-device-width: 1200px)
      and (max-device-width: 1600px)
      and (-webkit-min-device-pixel-ratio: 1) {

    }

    /* Laptops retina screens */
    @media screen
      and (min-device-width: 1200px)
      and (max-device-width: 1600px)
      and (-webkit-min-device-pixel-ratio: 2)
      and (min-resolution: 192dpi) {

    }

    /* Apple Watch */
    @media
      (max-device-width: 42mm)
      and (min-device-width: 38mm) {

    }

    /* Moto 360 Watch */
    @media
      (max-device-width: 218px)
      and (max-device-height: 281px) {

    }
